body {
  background-image: url('../IMG/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.item {
  float: left;
}

.item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

.item a:hover {
  background-color: #ff0000;
}

#firstItem {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#lastItem {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#titulo {
  background-color: #333;
  border-radius: 100px;
  color: white;
  margin-top: 20px;
  font-size: 11px;
  animation: shake 2s infinite;
}

#logo {
  width: 15px;
  height: 15px;
  margin: auto;
}

footer {
  background-color: #333;
  color: white;
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-gif {
  position: absolute;
  max-width: 50px;
}

.gif1 {
  top: 5px;
  right: 5px;
}

.gif2 {
  top: 5px;
  left: 5px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.articulo {
  background-color: #333;
  height: 300px;
  width: 300px;
  margin: 0 10px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

#articulos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 40px;
}

.articulos-fotos {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 2px solid #333;
}

.precioart {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.nombreart{
  color: white;
  text-align: center;
  font-size: 23.5px;
  margin-bottom: 10px;
}

.botoncompra{
  text-align: center;
}

.tituloboton{
  color: red;
  background-color: black;
  border-radius: 25px;
  padding: 10px;

}

.tituloboton:hover{
  color: red;
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}



#btnCargarArticulo{
  background-color: #333;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  color: white;
  font-size: 15px;
}

#btnBorrarArticulos{
  background-color: #333;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: none;
  color: white;
  font-size: 15px;
}

#botonesForm{
  background-color: #333;
  border-radius: 25px;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}


.formularioCarga{
  background-color: #333;
  border-radius: 25px;
  padding: 10px;
  display: none;
}

.formularioCarga.visible {
  display: block;
}

.formularioCarga label{
  color: white;
}

.formularioCarga button{
  background-color: #333;
  color: white;
}

#precioArticulo,#nombreArticulo{
width: 50px;
}